<header>
  <div id="logo"><img src="assets/img/cd-logo.svg" alt="Homepage"></div>

  <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
  <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
</header>

<nav id="main-nav">
  <style>
.input-search::before {
  top: 26px;
}
.input-search:after{
  top: 12px;
}
  </style>
  <form action="" class="form" style="line-height: 80px;">
    <div class="input input-search" style="    width: 228px;
    margin-left: 1em;
    position: relative;
    margin-top: 16px;
    background: white;
    height:48px;">
        <input type="search" name="input-search" id="input-search" placeholder="Search...">
    </div>
  </form>
  <ul>
    <li><a href="#0">Inicio</a></li>
    <li><a href="#0">Sobre Nosotros</a></li>
    <li><a class="current" href="#0">Productos</a></li>
    <li><a href="#0">Contacto</a></li>
  </ul>
</nav>