<header>
  <div id="logo"><img src="assets/img/cd-logo.svg" alt="Homepage"></div>

  <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
  <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
</header>

<nav id="main-nav">
  <form action="" class="form">
    <div class="input input-search" style="    width: 250px;
    position: relative;
    margin-top: 10px;
    background: white;">
        <input type="search" name="input-search" id="input-search" placeholder="Search...">
    </div>
  </form>
  <ul>
    <li><a href="#0">Inicio</a></li>
    <li><a href="#0">Sobre Nosotros</a></li>
    <li><a class="current" href="#0">Productos</a></li>
    <li><a href="#0">Contacto</a></li>
  </ul>
</nav>