<main>
		<ul id="cd-gallery-items" class="cd-container">
			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>

			<li>
				<img src="../../../assets/img/thumb.jpg" alt="Preview image">
			</li>
		</ul> <!-- cd-gallery-items -->
	</main>